<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/assets/css/poole.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/syntax.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  </head>

  <body>

    <div class="container content">
      <div class="masthead">
        <h3 class="masthead-title">
		  <a href="/" title="Home">JarvieZhang</a>
		  {% for item in site.data.navigation %}
			 &nbsp;&nbsp;&nbsp;<small><a href="{{ item.link }}">{{ item.name }}</a></small>
		  {% endfor %}
        </h3>
      </div>

      {{ content }}
    </div>

  </body>
</html>
